import React from 'react';
import { useSelector } from 'react-redux';

// eslint-disable-next-line import/no-unresolved
import './{{pascalCase name}}.style.scss';

const {{pascalCase name}} = () => {
  // Add {{pascalCase name}} Reducer to rootReducer.js
  const title = useSelector((state) => state.{{camelCase name}}.title);
  return (
    <div className='{{camelCase name}}-container'>
      <h1>{title}</h1>
    </div>
  );
};

export default {{pascalCase name}};
